global
    maxconn 4000

defaults
    mode tcp
    timeout client 10s
    timeout connect 5s
    timeout server 10s
    timeout http-request 10s

frontend http-in
    mode tcp
    bind *:9999
    default_backend backend_servers

backend backend_servers
    mode tcp
    balance roundrobin
    server backend1 rinha-backend-1:8000 check
    server backend2 rinha-backend-2:8000 check
